h1{
    color:#FFFFFF;
    border: rebeccapurple solid 1px;

}

body{
    background: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 + ol{
    border: white solid 1px;
}

a[href="https://images.app.goo.gl/jhqfD8XTiDpfWPru8"]{
    color: #FFFFFF;
}

ol li:nth-of-type(2){
    background: orangered;
}

.purple{
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: rebeccapurple wavy underline;
    border: none;
    color: #000;

}

a:hover{
    color: #0f4c5c;
    
}


dl dt::first-letter{
    color: white;
    background-color: black;
    text-transform: uppercase;
}

p::first-line{
    color: #03045e;
}

p span::selection{
    background-color: #6930c3;
}

p::after{
    content: '<- EXCITING!';
    color: green;
}

.card img{
    width: 200px;
    border: 5px solid rgb(236,183,191);
    border-radius: 50%;
}

.card{
    width: 210px;
    border: 1px grey solid;
    border-radius: 5px;
    text-align: center;
}



